[diff]
    tool = vimdiff

[difftool "vimdiff"]
    #cmd = vim -f '+next' '+execute \"DirDiff\" argv(0) argv(1)' $LOCAL $REMOTE '+syntax off'
    cmd = vimdiff -f "$LOCAL" "$REMOTE" '+syntax off'

[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
    cmd = /Applications/MacVim.app/Contents/MacOS/Vim -f -d -c 'wincmd l' "$LOCAL" "$MERGED" "$REMOTE" '+syntax off'
[commit]
	verbose = true
# 個人情報は .gitconfig_local に記載
[include]
    path = ~/.gitconfig.local
